* {
  box-sizing: border-box;
}
.form {
  display: flex;
  flex-direction: column;
  min-width: fit-content;
  width: 25%;
  margin: auto;
  justify-content: center;
  border: 2px solid green;
  padding: 50px;
}
.form__label {
  text-align: center;
}
.form__input {
  margin: 10px 0;
}
.form__button {
  padding: 5px;
}

.face {
  border: 1px solid green;
  width: 75px;
  height: 75px;
  display: flex;
  padding: 10px;
  margin: auto;
}
.dot {
  background-color: red;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  display: block;
}
.face__center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.face__side {
  display: flex;
  flex-direction: column;
}

.face__bottom {
  justify-content: flex-end;
}
.face__between {
  justify-content: space-between;
}
.dice {
  padding: 20px;
  border: 1px solid blue;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  margin: auto;
  min-width: fit-content;
}

@media screen and (min-width: 1024px) {
  body {
    padding: 100px;
  }
}
